{% extends 'mainapp/base.html' %}
{% load static %}


{% block content-container %}
    <div class="content-container">
        <div class="form_wrapper">
            <div class="login_form">
                <h1 class="regisration_title">Регистрация пользователя</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn_auth" value="зарегистрироваться">
                </form>
            </div>
        </div>
    </div>
{% endblock %}